@page
@model WebApp.Pages.Rents.RentCarModel

@{
    ViewData["Title"] = "Checkout";
}

<link rel="stylesheet" href="~/css/rentcar.css" />


<div class="container mt-4">
    <h2 class="checkout-title">Checkout</h2>

    <form method="post">
        <div class="card">
            <h4 class="card-title">Rental Details</h4>

            <div class="form-group">
                <label for="startDate" class="form-label">Start Date:</label>
                <input type="datetime-local" class="form-control" name="startDate" id="startDate" required onchange="calculateTotalPrice()" />
            </div>

            <div class="form-group">
                <label for="endDate" class="form-label">End Date:</label>
                <input type="datetime-local" class="form-control" name="endDate" id="endDate" required onchange="calculateTotalPrice()" />
            </div>

            <div class="form-group">
                <label class="form-label">Total Price:</label>
                <span id="totalPrice" class="form-control">@Model.TotalPrice.ToString("0.##")</span>
            </div>

            <div class="form-group">
                <label class="form-label">Car Image:</label>
                <div class="image-container">
                    @if (Model.Car.ImagePath != null && Model.Car.ImagePath.Any())
                    {
                        <img src="@Url.Content(Model.Car.ImagePath.First())" alt="Car Image" class="car-image">
                    }
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Rent It Now</button>
    </form>

    <div class="text-center mt-3">
        <a asp-page="/Rents/Index" class="btn btn-secondary">Back</a>
    </div>
</div>


@section Scripts {
    <script>
        function calculateTotalPrice() {
            var startDate = new Date(document.getElementById("startDate").value);
            var endDate = new Date(document.getElementById("endDate").value);

            if (isNaN(startDate) || isNaN(endDate)) {
                console.error("Invalid date format");
                return;
            }

            var totalPrice = parseFloat("@Model.Price");
            var numberOfDays = Math.ceil((endDate - startDate) / (1000 * 60 * 60 * 24));
            var increasePrice = 500; //If you want to change the price Per Day you need to do the same in RentCar.cshtml.cs!!!!
            totalPrice += increasePrice * numberOfDays;

            document.getElementById("totalPrice").innerText = totalPrice.toFixed(2);
        }
    </script>
}

