@page "/Users/Login"
@model WebApp.Pages.Users.LoginModel

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/EntryForms.css" />

<h1 id="entryform">Friberg Car Rentals AB</h1>

<h2 id="entryform">Login</h2>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="User.Email" class="label-left"></label>
        <input asp-for="User.Email" class="form-control" />
        <span asp-validation-for="User.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="User.Password" class="label-left"></label>
        <input asp-for="User.Password" type="password" class="form-control" />
        <span asp-validation-for="User.Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>

<div>
    <p class="p-p">Dont have an account?</p>
</div>
<div>
    <a asp-page="./Register" class="secondary-btn">Signup here</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}