@page "/Admin/Register"
@model WebApp.Pages.Admins.RegisterModel

<link rel="stylesheet" href="~/css/EntryForms.css" />


<h2 id="entryform">Admin Register</h2>


<form method="post" class="mt-4">
    <div class="form-group">
        <label asp-for="Model.Username" class="label-left"></label>
        <input asp-for="Model.Username" class="form-control" value="Admin" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Model.Email" class="label-left"></label>
        <input asp-for="Model.Email" class="form-control" />
        <span asp-validation-for="Model.Email" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Model.Password" class="label-left"></label>
        <input asp-for="Model.Password" type="password" class="form-control" />
        <span asp-validation-for="Model.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>


<div>
    <a asp-page="./Login" class="secondary-btn">Back to Login</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}