.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px; 
    padding: 200px;
}

.card {
    width: calc(50% - 20px); 
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1a1a1a;
}

.card-text {
    margin-bottom: 15px;
    color: #1a1a1a;
}

h2 {
    color: #1a1a1a; 
}

.btn-primary {
    text-decoration: none;
    background-color: #1a1a1a;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.btn-secondary {
    text-decoration: none;
    background-color: #1a1a1a;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.availability-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    padding: 70px;
    text-align: center;
}

.availability-text {
    margin-bottom: 15px;
    color: #1a1a1a;
}

.btn-secondary-disabled {
    background-color: #6c757d;
    color: #fff;
    cursor: not-allowed;
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: #343a40; 
}

.carousel {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.carousel-inner {
    display: flex;
    transition: transform 0.1s ease-in-out;

}

.carousel-item {
    width: 100%;
    flex: 0 0 auto;
}

.carousel-item img {
    width: 100%;
    border-radius: 8px;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #fff;
    background-color: #343a40;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #23272b; 
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}


.carousel-item {
    transition: opacity 0.1s ease-in-out;
}

.carousel-control-prev,
.carousel-control-next {
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: black;
    background-color: transparent;
}

.carousel-control-prev:focus,
.carousel-control-next:focus,
.carousel-control-prev:active,
.carousel-control-next:active {
    color: black;
    background-color: transparent;
    outline: none;
}

.carousel-control-prev, .carousel-control-next, .carousel-control-prev-icon, .carousel-control-next-icon {
    text-decoration: none !important;
    outline: none !important;
}

.car-index-page {
    margin: 0; 
    padding: 0; 
    height: auto; 
    background-color: white;

}

.hero-section {
    position: relative;
    color: #fff;
    text-align: center;
    padding: 410px;
    display: flex;
    align-items: center;
    background-size: cover;
    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    top: 125px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.hero-overlay::before {
    content: "";
    position: absolute;
    top: -220px;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-text {
    font-size: 2.5rem;
    font-weight: bold;
    z-index: 1;
}

.background-image {
    position: absolute;
    top: 127px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(70%);
    z-index: -2;
}
