body {
    font-family: Radikal,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1#entryform{
    color: white;
}

h2#entryform {
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.flex-grow-1 {
    flex-grow: 1; 
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    user-select: none;
    background-color: #007bff;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    background-color: #5f5f5f;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

/*--------------------------------------------Scrollbar------------------------------------------------*/


::-webkit-scrollbar {
    width: 7px; 
}

::-webkit-scrollbar-thumb {
    background-color: #0c0c0c; 
    border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0c0c0c; 
}

::-webkit-scrollbar-track {
    background-color: #00000000; 
}

::-webkit-scrollbar-corner {
    background-color: #00000000; 
}

/*-----------------------------------------------------------------------------------------------------*/
header {
    background-color: #1a1a1a; 
    color: #ffffff; 
    padding: 0; 
    padding-left: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.navbar-toggler {
    display: none;
}

.navbar-nav {
    display: flex;
    gap: 15px;
    list-style: none;
}

.nav-item {
    margin: 0;
}

.nav-link{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nava-link{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #333;
}

.nava-link:hover {
    color: #333;
    filter: brightness(20%);
}

.nav-item {
    position: relative;
}
 
.dropdown-divider {
    border-top: 1px solid black;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 1000;
    list-style: none;
    background-color: #333;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #1c1c1c;
}

.dropdown-header {
    padding: 8px 20px;
    color: #aaa;
    font-size: 0.9rem;
}

/*-----------------------------------------------------------------------------------------------------*/

.bottom-border {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    color: #ffffff; 
    padding: 20px; 
    justify-content: center;
    align-items: center;
    width: auto;
}

.bottom-text {
    text-align: center;
}

.back-to-top {
    text-decoration: none; 
    cursor: pointer;
    font-size: 15px;
}

.back-to-top a {
    color: #fff;
    font: bold;
    text-decoration: none;
}

.back-to-top a:hover {
    color: black;
}


/*--------------------------------------------IndexSite------------------------------------------------*/


.text-center-logo {
    text-align: center;
}

.text-center-logo img {
    max-width: 500px; 
    height: auto;
}