@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="text-center-logo">
    <img src="/ImagesLogo/friberg_logo.png" class="img-fluid" />
    <h1 class="mt-3">Welcome to Our Car Rental Website!</h1>
    <p class="lead">Explore our services and enjoy your experience of driving your dream car.</p>
</div>